body{
                background-color:#E5EBF2;
            }
            .slider{
                height: 250px;
                line-height: 220px;
            }
            .p{
                
                font-size: 50px;
            }

            .ask{
                margin-top: 10px;
               
            }
            .ask1{
               
                background-color:white;
            }
            #header{
                
                font-size: 35px;
                color:floralwhite;
            }
            .section {
    padding: 20px 0;
            }
#logo{
    margin-top: 70px;
    
}
#logo::first-letter {
    font-size: 70px;
    color:gray;
        text-transform:uppercase;

}
.s1 :hover{
    color:firebrick;
    
}
.s{
    margin-top: 45px;
}