.information1{
    width: 400px;
    height: 50px;
    padding-top: 20px;
    font-size: 15px;
    padding-left: 10px;
    text-align: left;
    background-color: steelblue;
    
}
.label_info{
    margin-top: 10px;
}
.information{
    color: white;
}
.snippet{
    
    margin-top: 50px;
}
.tab-content{
    margin-top: 50px;
}


.Edit_info{
    margin-top: 5px;   
    height: 40px;
    font-size: 15px;
}
.table ,td{
    width: 280px;
    
}
.static{
    width: 120px;
    height: 120px;
}