#wrapper{
   
    background-image: url('../images/4.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-repeat: no-repeat;
   background-size: cover;
   background-size: 100% 100%;

}


@media(max-width: 768px) and (min-width: 480px){
    .navbar-form .form-control{

        width: 100% !important; 

    }
}
@media (min-width: 768px) and (max-width: 1000px){
    .navbar-form .form-control{

        width: 130px !important; 
    }
}


.link{

    font-size: 150%;}



#banner{
    position: absolute;
    height: 100px;
    color:#F8F8F8;
    top:10%;

}
#headings{
    height: 100px;
    position: absolute;
    color:#F8F8F8;
    bottom: 1%;
}
#headings h3{
    font-size: 22px;
    margin-left: -6px;
}
